<h2>Edit Sub</h2>

<form class="" action="<%=sub_url%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <label for=""> Title
    <input type="text" name="sub[title]" value="<%=@sub.title%>">
  </label>
  <label for=""> Description
    <input type="text" name="sub[description]" value="<%=@sub.description%>">
  </label>
  <input type="submit" name="" value="Edit this Subject">
</form>
